In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = 50
%matplotlib inline

# Read from excel file
There are 132 students each with 32 features.

In [3]:
grades = pd.read_excel('data/grades.xlsx')
grades.shape

(132, 32)

# Rename column names so that they can be easily ordered chronologically

In [4]:
grades.columns

Index(['Weighted Total [Total Pts: up to 98.87977] |936265',
       'Total [Total Pts: up to 2,223.2] |936264',
       'Quiz One [Total Pts: 100] |936268',
       'Quiz Two [Total Pts: 100] |936269',
       'Quiz Three [Total Pts: 100] |936270',
       'Quiz Five [Total Pts: 100] |936272',
       'Quiz Six [Total Pts: 100] |936273',
       'Quiz Seven [Total Pts: 100] |954832',
       'Quiz Eight [Total Pts: 100] |960233',
       '26970trial1-19-2017 1-19 PM [Total Pts: 5] |943018',
       'att2-2-2017 1-23 PM [Total Pts: 10.7] |949083',
       'quiz4-13-2017 1-24 PM [Total Pts: 120] |992380',
       'att1-26-2017 1-10 PM [Total Pts: 1] |944789',
       'att3-7-2017 1-14 PM [Total Pts: 1] |978329',
       'att2-7-2017 1-06 PM [Total Pts: 1] |953856',
       'att2-9-2017 1-42 PM [Total Pts: 1] |953857',
       'att2-14-2017 1-05 PM [Total Pts: 1] |953858',
       'att2-16-2017 1-11 PM [Total Pts: 1] |953859',
       'att3-30-2017 1-17 PM [Total Pts: 1] |978345',
       'att4-6-2017 5-26 PM [Total Pts: 1] |978346',
       'att4-11-2017 1-08 PM [Total Pts: 1] |992379',
       'Exam1_0221 [Total Pts: 100] |954963',
       'Homework0 [Total Pts: 100] |946260',
       'Homework1 [Total Pts: 100] |951550',
       'Homework2 [Total Pts: 100] |974290',
       'Homework3 [Total Pts: 100] |974242',
       'Homework4 [Total Pts: 100] |995428',
       'Homework5 [Total Pts: 100] |995429', 'exam2w [Total Pts: 100] |997536',
       'Group Assignments [Total Pts: 100] |997421',
       'Final Exam [Total Pts: 100] |997533',
       'Extra [Total Pts: 20] |1003419'],
      dtype='object')

In [5]:
quiz_bb = ['0123_quiz1','0127_quiz2','0201_quiz3','0203_quiz5','0209_quiz6',
        '0301_quiz7','0327_quiz8']
homework = ['0201_homework0','0213_homework1','0315_homework2','0402_homework3','0415_homework4','0430_homework5']
totals = ['total_weighted','total_sum']
all_features = totals + quiz_bb + ['0119_quiz_class','0202_millionaire','0413_quiz_class','0126_attend',
                                   '0307_attend','0207_attend','0209_attend','0214_attend','0216_attend',
                                   '0330_attend','0406_attend','0411_attend','0304_exam1'] + homework + \
                                    ['0404_exam2','0510_group','0509_final_exam','0510_extra']
grades.columns = all_features
all_features.sort()
grades = grades[all_features]

# All data should be numeric. Let's find those columns with 'object' data types and process them.

In [6]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 32 columns):
0119_quiz_class     117 non-null float64
0123_quiz1          103 non-null float64
0126_attend         127 non-null float64
0127_quiz2          84 non-null float64
0201_homework0      132 non-null int64
0201_quiz3          74 non-null float64
0202_millionaire    125 non-null float64
0203_quiz5          68 non-null float64
0207_attend         131 non-null float64
0209_attend         132 non-null int64
0209_quiz6          69 non-null object
0213_homework1      132 non-null int64
0214_attend         131 non-null float64
0216_attend         131 non-null float64
0301_quiz7          55 non-null object
0304_exam1          132 non-null float64
0307_attend         130 non-null float64
0315_homework2      132 non-null int64
0327_quiz8          54 non-null object
0330_attend         131 non-null float64
0402_homework3      132 non-null int64
0404_exam2          132 non-null int64
0406_attend         131 non-null float64
0411_attend         131 non-null float64
0413_quiz_class     130 non-null float64
0415_homework4      132 non-null int64
0430_homework5      132 non-null int64
0509_final          132 non-null int64
0510_extra          31 non-null float64
0510_group          132 non-null float64
total_sum           132 non-null float64
total_weighted      132 non-null float64
dtypes: float64(20), int64(9), object(3)
memory usage: 33.1+ KB

In [7]:
grades.select_dtypes(include = [object]).head()

    0209_quiz6   0301_quiz7 0327_quiz8
0          NaN          NaN        NaN
1           78          NaN        NaN
2           90           88         94
3  In Progress          NaN        NaN
4           92  In Progress        NaN

### Replace 'In Progress' with NaN and convert columns to float

In [8]:
grades = grades.applymap(lambda x: np.nan if x == 'In Progress' else x)
grades['0209_quiz6'] = grades['0209_quiz6'].astype(float)
grades['0301_quiz7'] = grades['0301_quiz7'].astype(float)
grades['0327_quiz8'] = grades['0327_quiz8'].astype(float)

# There are 132 students. For quizzes, which were optional, it makes sense to have NaN values. For everything else, missing values should be treated as 0's.

In [9]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 32 columns):
0119_quiz_class     117 non-null float64
0123_quiz1          103 non-null float64
0126_attend         127 non-null float64
0127_quiz2          84 non-null float64
0201_homework0      132 non-null int64
0201_quiz3          74 non-null float64
0202_millionaire    125 non-null float64
0203_quiz5          68 non-null float64
0207_attend         131 non-null float64
0209_attend         132 non-null int64
0209_quiz6          66 non-null float64
0213_homework1      132 non-null int64
0214_attend         131 non-null float64
0216_attend         131 non-null float64
0301_quiz7          54 non-null float64
0304_exam1          132 non-null float64
0307_attend         130 non-null float64
0315_homework2      132 non-null int64
0327_quiz8          53 non-null float64
0330_attend         131 non-null float64
0402_homework3      132 non-null int64
0404_exam2          132 non-null int64
0406_attend         131 non-null float64
0411_attend         131 non-null float64
0413_quiz_class     130 non-null float64
0415_homework4      132 non-null int64
0430_homework5      132 non-null int64
0509_final          132 non-null int64
0510_extra          31 non-null float64
0510_group          132 non-null float64
total_sum           132 non-null float64
total_weighted      132 non-null float64
dtypes: float64(23), int64(9)
memory usage: 33.1 KB

In [10]:
contains_null = grades.isnull().sum() > 0
non_quiz = ~(grades.columns.str.contains(r'quiz\d+'))
grades.loc[:,contains_null & non_quiz] = grades.loc[:,contains_null & non_quiz].fillna(0)

In [11]:
grades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 32 columns):
0119_quiz_class     132 non-null float64
0123_quiz1          103 non-null float64
0126_attend         132 non-null float64
0127_quiz2          84 non-null float64
0201_homework0      132 non-null int64
0201_quiz3          74 non-null float64
0202_millionaire    132 non-null float64
0203_quiz5          68 non-null float64
0207_attend         132 non-null float64
0209_attend         132 non-null int64
0209_quiz6          66 non-null float64
0213_homework1      132 non-null int64
0214_attend         132 non-null float64
0216_attend         132 non-null float64
0301_quiz7          54 non-null float64
0304_exam1          132 non-null float64
0307_attend         132 non-null float64
0315_homework2      132 non-null int64
0327_quiz8          53 non-null float64
0330_attend         132 non-null float64
0402_homework3      132 non-null int64
0404_exam2          132 non-null int64
0406_attend         132 non-null float64
0411_attend         132 non-null float64
0413_quiz_class     132 non-null float64
0415_homework4      132 non-null int64
0430_homework5      132 non-null int64
0509_final          132 non-null int64
0510_extra          132 non-null float64
0510_group          132 non-null float64
total_sum           132 non-null float64
total_weighted      132 non-null float64
dtypes: float64(23), int64(9)
memory usage: 33.1 KB

# Multiply weighted total by 100

In [12]:
grades.total_weighted = grades.total_weighted * 100

# Synthesize attendance data using in-class quizzes and millionare

In [13]:
grades.columns

Index(['0119_quiz_class', '0123_quiz1', '0126_attend', '0127_quiz2',
       '0201_homework0', '0201_quiz3', '0202_millionaire', '0203_quiz5',
       '0207_attend', '0209_attend', '0209_quiz6', '0213_homework1',
       '0214_attend', '0216_attend', '0301_quiz7', '0304_exam1', '0307_attend',
       '0315_homework2', '0327_quiz8', '0330_attend', '0402_homework3',
       '0404_exam2', '0406_attend', '0411_attend', '0413_quiz_class',
       '0415_homework4', '0430_homework5', '0509_final', '0510_extra',
       '0510_group', 'total_sum', 'total_weighted'],
      dtype='object')

In [14]:
grades['0119_attend'] = pd.Series(grades['0119_quiz_class'] > 0).astype(int)
grades['0413_attend'] = pd.Series(grades['0413_quiz_class'] > 0).astype(int)
grades['0202_attend'] = pd.Series(grades['0202_millionaire'] > 0).astype(int)

### Resort columns

In [15]:
grades = grades[grades.columns.sort_values()]
grades.head()

,0119_attend,0119_quiz_class,0123_quiz1,0126_attend,0127_quiz2,0201_homework0,0201_quiz3,0202_attend,0202_millionaire,0203_quiz5,0207_attend,0209_attend,0209_quiz6,0213_homework1,0214_attend,0216_attend,0301_quiz7,0304_exam1,0307_attend,0315_homework2,0327_quiz8,0330_attend,0402_homework3,0404_exam2,0406_attend,0411_attend,0413_attend,0413_quiz_class,0415_homework4,0430_homework5,0509_final,0510_extra,0510_group,total_sum,total_weighted
0,0,0.0,NaN,1.0,NaN,100,NaN,1,7.5,NaN,0.0,1,NaN,0,0.0,1.0,NaN,68.0,0.0,0,NaN,0.0,0,64,0.0,0.0,0,0.0,0,0,0,0.0,0.0,306.5,25.23
1,0,0.0,98.0,1.0,94.0,100,100.0,1,5.7,100.0,1.0,1,78.0,100,1.0,1.0,NaN,33.0,1.0,100,NaN,1.0,60,26,1.0,0.0,1,67.0,100,100,50,0.0,40.0,1287.7,58.80
2,1,4.0,96.0,1.0,98.0,100,96.0,1,7.8,94.0,0.0,1,90.0,0,0.0,1.0,88.0,57.0,0.0,10,94.0,0.0,0,85,0.0,0.0,1,77.0,90,100,86,0.0,80.0,1440.8,70.80
3,0,0.0,96.0,0.0,96.0,100,98.0,0,0.0,94.0,0.0,1,NaN,120,0.0,0.0,NaN,61.0,0.0,100,NaN,0.0,110,85,0.0,0.0,1,50.0,100,100,76,1.0,40.0,1413.0,81.53
4,1,1.0,88.0,1.0,90.0,100,90.0,1,3.5,82.0,1.0,1,92.0,0,1.0,1.0,NaN,55.0,1.0,50,NaN,0.0,10,84,0.0,1.0,1,117.0,100,90,72,0.0,100.0,1323.5,70.54

# Export as CSV

In [16]:
grades.to_csv('data/grades_cleaned_20170520.csv', index = False)

In [17]:
pd.read_csv('data/grades_cleaned_20170520.csv').head()

,0119_attend,0119_quiz_class,0123_quiz1,0126_attend,0127_quiz2,0201_homework0,0201_quiz3,0202_attend,0202_millionaire,0203_quiz5,0207_attend,0209_attend,0209_quiz6,0213_homework1,0214_attend,0216_attend,0301_quiz7,0304_exam1,0307_attend,0315_homework2,0327_quiz8,0330_attend,0402_homework3,0404_exam2,0406_attend,0411_attend,0413_attend,0413_quiz_class,0415_homework4,0430_homework5,0509_final,0510_extra,0510_group,total_sum,total_weighted
0,0,0.0,NaN,1.0,NaN,100,NaN,1,7.5,NaN,0.0,1,NaN,0,0.0,1.0,NaN,68.0,0.0,0,NaN,0.0,0,64,0.0,0.0,0,0.0,0,0,0,0.0,0.0,306.5,25.23
1,0,0.0,98.0,1.0,94.0,100,100.0,1,5.7,100.0,1.0,1,78.0,100,1.0,1.0,NaN,33.0,1.0,100,NaN,1.0,60,26,1.0,0.0,1,67.0,100,100,50,0.0,40.0,1287.7,58.80
2,1,4.0,96.0,1.0,98.0,100,96.0,1,7.8,94.0,0.0,1,90.0,0,0.0,1.0,88.0,57.0,0.0,10,94.0,0.0,0,85,0.0,0.0,1,77.0,90,100,86,0.0,80.0,1440.8,70.80
3,0,0.0,96.0,0.0,96.0,100,98.0,0,0.0,94.0,0.0,1,NaN,120,0.0,0.0,NaN,61.0,0.0,100,NaN,0.0,110,85,0.0,0.0,1,50.0,100,100,76,1.0,40.0,1413.0,81.53
4,1,1.0,88.0,1.0,90.0,100,90.0,1,3.5,82.0,1.0,1,92.0,0,1.0,1.0,NaN,55.0,1.0,50,NaN,0.0,10,84,0.0,1.0,1,117.0,100,90,72,0.0,100.0,1323.5,70.54