# 6.3 - Regularization

In [2]:
import numpy as np
import pandas as pd

%matplotlib inline

In [4]:
grades = pd.read_csv('grades_cleaned_20170520.csv')

In [6]:
grades.head()

,0119_attend,0119_quiz_class,0123_quiz1,0126_attend,0127_quiz2,0201_homework0,0201_quiz3,0202_attend,0202_millionaire,0203_quiz5,...,0411_attend,0413_attend,0413_quiz_class,0415_homework4,0430_homework5,0509_final_exam,0510_extra,0510_group,total_sum,total_weighted
0,0,0,NaN,1,NaN,100,NaN,1,7.5,NaN,...,0,0,0,0,0,0,0,0.0,306.5,25.23
1,0,0,98.0,1,94.0,100,100.0,1,5.7,100.0,...,0,1,67,100,100,50,0,40.0,1287.7,58.80
2,1,4,96.0,1,98.0,100,96.0,1,7.8,94.0,...,0,1,77,90,100,86,0,80.0,1440.8,70.80
3,0,0,96.0,0,96.0,100,98.0,0,0.0,94.0,...,0,1,50,100,100,76,1,40.0,1413.0,81.53
4,1,1,88.0,1,90.0,100,90.0,1,3.5,82.0,...,1,1,117,100,90,72,0,100.0,1323.5,70.54

In [9]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import train_test_split

In [16]:
hasnull = grades.isnull().sum() > 1

X = grades.drop(['total_sum', 'total_weighted'], axis = 1)
X = grades.loc[:,~hasnull]
y = grades['total_weighted']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

ridge = Ridge()

ridge.fit(X_train, y_train)
y_train_pred = ridge.predict(X_train)
print(mean_squared_error(y_train, y_train_pred))

4.98370389103e-05

In [23]:
print(cross_val_score(ridge, X_train, y_train, cv = 5, scoring = 'neg_mean_squared_error').mean())

-0.000275810291931